{% load static %}
{% load compress %}
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, shrink-to-fit=no">

<title>{{title}} - Elektromus</title>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="{% static 'apps/global/js/global_functions.js' %}"></script>

<link href="https://fonts.googleapis.com/css2?family=Work+Sans:wght@800&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap" rel="stylesheet">
<link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">

{% compress css %}
    <link
        rel="stylesheet"
        type="text/x-scss"
        href="{% static 'apps/global/scss/global.scss' %}">
{% endcompress %}
