{% load static %}
<script src="{% static 'apps/main_management/js/change_password/functions.js' %}"></script>
<section id="change-password">
    <section id='error-box' class="form {% if not error %}invisible{% endif %}">
        <h5></h5>
        <p></p>
    </section>
    <h5>{% if active == "change_password" %}Zmiana hasła użytkownika: {{user.username}}{% endif %}</h5>
    <form name="new_password_form" class="data-form" action="{% url 'back:users:update_password' pk=user.id %}" method="post">
        {% csrf_token %}
        <ul>
            <li>
                <label>Nowe hasło:</label>
                <input type=password id="new-password" name="new_password" class="user-data" placeholder="Nowe hasło">
            </li>
            <li>
                <label>Powtórz hasło:</label>
                <input type=password id="repeat-password" name="repeat_password" class="user-data" placeholder="Powtórz hasło">
            </li>
        </ul>
        <footer class="small">
            <input type=button name="save" id="save" value="Zapisz">
        </footer>
    </form>
</section>
<script src="{% static 'apps/main_management/js/change_password/events.js' %}"></script>